h5.nnxx-title {
    font-size: 1.5em;
    position: absolute;
    top: 0.1em;
}

div.nnxx-navigation {
    height: 1em;
}

div.nnxx-navigation span.left {
    float:left;
}

div.nnxx-navigation span.right {
    float:right;
}
