{% include header.html %}
<div id="header_wrap" class="outer">
  <header class="inner">
    <a href="{{ page.index_page }}"><h5 id="project_title" class="nnxx-title">nanomsgxx</h5></a>
    <a id="forkme_banner" href="https://github.com/achille-roussel/nanomsgxx">View on GitHub</a>
  </header>
</div>
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">

    <div class="nnxx-navigation">
      <span class="left"><a href="{{ page.prev_page }}">&laquo; API Reference</a></span>
    </div>

    <h2 style="font-family: monospace;">{{ page.title }}</h2>

    {{ content }}

    <div class="nnxx-navigation nnxx-navigation-bottom">
      <span class="left"><a href="{{ page.prev_page }}">&laquo; API Reference</a></span>
    </div>

  </section>
</div>
{% include footer.html %}
