{% include header.html %}
<div id="header_wrap" class="outer">
  <header class="inner">
    <a href="index.html"><h5 id="project_title" class="nnxx-title">nanomsgxx</h5></a>
    <a id="forkme_banner" href="https://github.com/achille-roussel/nanomsgxx">View on GitHub</a>
  </header>
</div>
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">

    <div class="nnxx-navigation">
      <span class="left"><a href="{{ page.prev_page }}">&laquo; {{ page.prev }}</a></span>
      <span class="right"><a href="{{ page.next_page }}">{{ page.next }} &raquo;</a></span>
    </div>

    <h1>{{ page.title }}</h1>

    {{ content }}

    <div class="nnxx-navigation nnxx-nagivation-bottom">
      <span class="left"><a href="{{ page.prev_page }}">&laquo; {{ page.prev }}</a></span>
      <span class="right"><a href="{{ page.next_page }}">{{ page.next }} &raquo;</a></span>
    </div>

  </section>
</div>
{% include footer.html %}
